
/* ###########COMEÇO HEADER################# */
p{
    font-family: sans;
}
#header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 1fr 60%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    z-index: 1001;
}
.mudaCor{
    background-color: #000000;
}
#logo{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
#item1 {
    color: #ffff;
    font-size: 40px;
    text-align: center;
    font-family: lovelo;

}
#item1-2 {
    width: 60px;
    height: 60px;
    text-align: start;
    background-size: cover;
    background-position: center;
}

#item2 {
    grid-row: 2/3;
    grid-column: 3/4;
    display: grid;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    text-decoration: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50px;
}

#item2-1 {
    grid-column: 1/2;
    font-family: sans;
    color: #ffffff;
}

#item2-2 {
    grid-column: 2/3;
    font-family: sans;
}

#item2-3 {
    grid-column: 3/4;
    font-family: sans;
}
#item2-4 {
    grid-column: 4/5;
    font-family: sans;
}
#item2-5 {
    grid-column: 5/6;
    font-family: sans;
}

#barrainferior {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

#barrainferior:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #5E17EB;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 10px;
}

#barrainferior:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#barrainferiorfixa {
    position: relative;
    color: #000000;
    text-decoration: none;
}

#barrainferiorfixa:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #7c7c7c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 10px;
}

#barrainferiorfixa:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* ###########FIM HEADER################# */